.newpost{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;

    &--size{
        min-height: calc(100vh - 120px);
    }

    &--theme{
        background-color: #F5F6F8;
    }

    &__container{
        display: flex;
        margin-top: 30px;
        height: 100%;
    }

    &__left{
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px lightgray;
        border-radius: 5px;
        padding: 0 20px;
        
        &--size{
            width: 70%;
            height: 100%;
        }

        &--theme{
            background-color: white;
        }
    }

    &__editor{
        border: 1px solid lightgray;
        font-size: 14px;
        margin: 20px 0;


        &--size{
            height: 40vh;
        }
    }

    &__input{
        margin: 15px 0;
        height: 50px;

    }

    &__right{
        margin-left: 50px;

        &--size{

        }

        &--theme{
            
        }
    }

    &__card{
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 10px lightgray;

        &--size{
            height: 300px;
            width: 400px;
        }

        &--theme{
            background-color: white;
        }

        &-title{
            text-align: start;
            font-weight: 400;
            padding: 20px;
            font-size: 15px;
            color: #757B82;
        }
    }

    &__line{
        border: none;
        border-top: 1px solid lightgray;
    }

    &__list{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 15px;
    }

    &__item{
        font-size: 15px;
        display: flex;
        align-items: flex-start;
        margin: 10px 0;
        color: #757B82;

        &-edit{
            text-decoration: none;
            margin-left: auto;
            color: #2D53FE;
        }

        &-icon{
            margin: 0px 5px;
        }
    }

    &__green{
        color: #17C671;
    }

    &__orange{
        color: #FFB400;
    }

    &__button{
        font-size: 12px;
        padding: 8px 15px;
        border-radius: 5px;
        float: left;
        margin: 10px;
        cursor: pointer;
        outline: none;

        &-save{
            background-color: white;
            border: 1px solid #2D53FE;
            color: #2D53FE;
            
            &:hover{
                background-color: #007BFF;
                color: white;
            }
        }

        &-publish{
            background-color: #2D53FE;
            border: none;
            padding: 10px 15px;
            color: white;
            float: right;
            
            &:hover{
                box-shadow: 2px 2px 2px  #2D53FE;
                color: white;
            }
        }

    }

    &__categories{
        list-style: none;
        padding: 20px;
    }

    &__category{
        text-align: start;
        display: flex;
        align-items: flex-start;
        margin: 5px 0;

        &-button{
            margin-right: 10px;
        }

        &-input{
            width: 100%;
        }

        &-row{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px 20px;
        }

        &-icon{
            border: 1px solid lightgray;
            height: 35px;
            width: 35px;
            size: 15px;
            cursor: pointer;
        }
    }
}
