.userprofile{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--theme{
        background-color: #F5F6F8;
    }

    &--size{
        // min-height: calc(100vh - 60px);
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 30px;
    }

    &__title{
        margin-top: 5px;
        font-weight: 500;
        color: #3C5170;
        font-size: 24px;
    }

    &__category{
        font-size: 11px;
        letter-spacing: 1.5px;
        font-weight: 500;
        color: grey;
    }

    &__container{
        margin-top: 20px;
        display: flex;

        &--size{
            width: 100%;
            height: auto;
        }
    }

    &__card{
        border-radius: 10px;
        box-shadow: 2px 2px 10px 0px lightgray;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--size{
            min-height: 200px;
            width: 500px;
        }

        &--theme{
            background-color: white;
        }

        &-image{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        &-name{
            font-weight: 400;
            color: #61718B;
            margin-top: 20px;
        }

        &-role{
            font-size: 15px;
            margin-top: 3px;
            color: grey;
        }

        &-button{
            margin: 10px 0;
            border: 1px solid #007BFF;
            font-size: 10px;
            height: 32px;
            width: 80px;
            border-radius: 16px;
            color: #007BFF;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover{
                background-color: #007BFF;
                color: white;
            }
        }

        &-icon{
            margin: 0 5px;
        }

        &-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px 20px;
        }
        
        &-subtitle{
            font-weight: 450;
            color: #797E85;
            font-size: 14px;
            align-self: flex-start;
        }

        &-description{
            font-size: 14px;
            color: #797E85;
            margin: 10px 0;
            text-align: start;
            line-height: 1.5;
        }

        &-workload{
            border-top: 1px solid #E1E5EB;
            border-bottom: 1px solid #E1E5EB;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
        }

        &-top{
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-progress{
            position: relative;
            background-color: #007BFF;
            height: 6px;
            border-radius: 3px;
            width: 100%;
            margin: 10px 0;
            -moz-box-shadow:    inset 5px 5px 5px lightgray;
            -webkit-box-shadow: inset 5px 5px 5px lightgray;
            box-shadow: inset 0px 0px 0px lightgray;

            &::before{
                content: "";
                right: 0px;
                top: 0px;
                position: absolute;
                background-color: white;
                height: 6px;
                border-radius: 0 3px 3px 0;
                width: 20%;
                // margin: 10px 0;
                -moz-box-shadow:    inset 5px 5px 5px lightgray;
                -webkit-box-shadow: inset 5px 5px 5px lightgray;
                box-shadow: inset 5px 5px 5px lightgray;
            }
        }
    }

    &__accountdetail{
        box-shadow: 2px 2px 10px 0px lightgray;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 10px;

        &--size{
            width: 100%;
            min-height: 700px;
            margin-left: 30px;
        }

        &--theme{
            background-color: white;
        }

        &-title{
            font-weight: 400;
            font-size: 16px;
            color: #4C5F7B;
            padding: 20px;
        }

        &-container{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }

    &__line{
        width: 100%;
        border: none;
        border-top: 1px solid #E1E5EB;
    }

    &__row{
        min-width: 46%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 20px;
    }

    &__input{
        width: 100%;
        margin: 10px 0;
        padding: 9px;
        border-radius: 5px;
        outline: none;
        border:  1px solid #B3BDCC;
        font-size: 13px;

        &:hover{
            box-shadow: 5px 2px 5px lightblue;
        }
    }

    &__label{
        font-size: 15px;
        font-weight: 400;
        color: #636A71;
    }

    &__zip{
        min-width: 10%;
    }

    &__state{
        min-width: 23%;
    }

    &__textarea{
        margin-top: 10px;
        min-width: 100%;
        max-width: 100%;
        padding: 10px;
        color: #4C5F7B;
    }

    &__update-button{
        margin-left: 20px;
        margin-top: 30px;
        border: none;
        background-color: #007BFF;
        color: white;
        height: 34px;
        font-size: 12px;
        padding: 0px 15px;
        cursor: pointer;
        border-radius: 5px;
    }
}