.data{
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px lightgrey;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;

    &--size{
        height: 140px;
        width: 300px;
    }

    &--theme{
        background-color: white;
    }

    &__name{
        font-weight: 400;
        font-size: 11px;
        letter-spacing: 2px;
        color: gray;
        margin: 30px 0 15px 0;
        
    }

    &__count{
        font-weight: 400;
        font-size: 30px;
        color: #3D5170;
        z-index: 10;
    }

    &__percentage{
        font-size: 11px;
    }

    &__row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        color: #17C671;
    }

    &__icon{
        margin-right: 2px;
    }

    &__canvas{
        position: absolute;
        align-self: flex-end;
        width: 100%;
        height: 100%;
        text-align: end;
        z-index: 1;
        border-radius: 0 0 10px 10px;
    }

    &__up{
        color: #17C671;
    }

    &__down{
        color: red;
    }

    &__info{
        position: absolute;
        width: 100%;
        z-index: 100;
    }
}