.contentsection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;


    &--size{
        min-height: 100vh;
        // width: 100%;
    }

    &--theme{
        background-color: #F4F5F7;
    }
    
    &__title{
        font-size: 26px;
        font-weight: 400;
        color: #3C5170;
    }

    &__subtitle{
        font-size: 12px;
        font-weight: 400;
        color: gray;
    }

    &__list{
        display: flex;
        list-style: none;
        flex-wrap: wrap;

        &--size{
            
        }
    }

    &__item{
        cursor: pointer;
        border-radius: 10px;
        box-shadow: -5px 5px 10px lightgray;

        &--size{
            width: 300px;
            height: 150px;
        }

        &--theme{
            background-color: white;
            margin-right: 20px;
            margin-top: 20px;
        }
    }
}