@import './../assets/scss/common.scss';

.mainsection{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &--size{
        min-height: 100vh;
        height: auto;
        width: 100%;
    }

    &--theme{

    }

    &__content{
        height: auto;
    }
}